@charset "UTF-8";

:root {
    --cor0: #D0C7D9;
    --cor1: #9F8FA6;
    --cor2: #BF8984;
    --cor3: #73406A;
    --cor4: #593942;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor1);
    height: 99vh;
    width: 99vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #BF8984 url(../imagens/karolina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;

}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}