@charset "UTF-8";

* {
    margin:0px;
    padding: 0px;
}

body {
    background-color: lightgoldenrodyellow;
    width: 100vw;
    height: 100vh;
}

main {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    align-content: center;
    row-gap: 10px;
    column-gap: 10px;
}


div {
    height: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}



.bloco1 {
    order: 0;
    flex-grow:0;
    flex-shrink: 0px;
    background-color: lightcoral;
}

.bloco2 {
    order:0;
    flex-grow:0;
    flex-shrink: 0px;
    background-color: lightblue;
}

.bloco3 {
    order:0;
    flex-grow:0;
    flex-shrink: 3px;
    background-color: lightgreen;
}

.bloco4 {
    order:0;
    flex-grow:0;
    flex-shrink: 0px;
    background-color: lightslategray;
}

.bloco5 {
    order:0;  
    flex-grow:0; 
    flex-shrink: 0px; 
    background-color: lightsalmon;
}